@import "_flex.scss";

@mixin box-sizing {
	-webkit-box-sizing:  border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

$gutter : .5em;
$bordes : 10px;

html {
	font-family: 'Sourse Sans Pro', sans-serif;
}
@media all and (max-width: 400px) {
	html {
		font-size: 80%;
	}
} 

body {
	padding: 0;
	margin: 0;
}
.search {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: no-wrap;
}
.search__text {
	display: table-cell;
	width:80%;
	border-radius: $bordes;
}
.search__btn {
	width:20%;
	background-color: orange;
	color: white;
	padding: 1em;
	border-radius: $bordes;
}
.main-header {
	text-align: center;
	background-color: #D43A00;
	color: white;
	padding: 1.5em;
}
	.main-header h1 {
		margin: 0;
	}

	.main-header h2 {
		font-size: 1rem;
		font-weight: normal;
	}
	.card {
		position: relative;
		height: 160px;
		width: 100vh;
		margin: 0.2em 0.5em;
		background-size:cover;
		color: white;
		padding: $gutter;
		border-radius: 0px 0px 20px 20px;
		box-shadow: rgba(150, 142, 110, 0.4) 0px 5px;

		@include box-sizing;
		@include flexbox;
		@include justify-content(space-around);
		margin-bottom: .2em;
		background-color: orange;
	}
	@media all and (min-width: 300px) {
		.card {
		//	background-image: url(img/valencia.jpg);
			background-position: center;
		}
	}
	.card__header {
		text-align: center;
		font-family: "Raleway";
	}
	.card__title {
		font-size: 1.7em;
		margin: 0;
	}
	.card__date {
		font-size: 1.2em;
		margin: 0;
	}
	/*.card--valencia {
		background-image: url(img/v.jpg);
	}
	.card--bsas {
		background-image: url(img/bsas.jpg);
	}*/
	.card__info {
		position: absolute;
		bottom: $gutter;
		left: $gutter;
		background-color: black;
		text-align: center;
		padding: .2em;
		border-radius: $bordes;
	}
	.card__image {
		display:block;
	}
	.card__temp {
		font-size: 2rem;
		display: block;
		line-height: 1;
	}
	.card__temp::after {
		content: "°C"
	}
	.card__maxt::after {
		content: "°C";
		color: #11D30E;
	}
	.card__maxt::before {
		content: "Max: ";
		color: #11D30E;
	}
	.card__mint::after {
		content: "°C";
		color: red;
	}
	.card__mint::before {
		content: "Min: ";
		color: red;
	}

	.card:nth-child(2n+1) {
		background-color: #00A1E5;
	}